{
  "./src/**/*.{js,jsx,ts,tsx,json}": [
    "prettier --write"
  ],
  "./*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "**/*.{css,sass,scss,less}": [
    "stylelint --fix",
    "git add"
  ],
   "**/*.{ts,tsx}": "eslint  --cache --fix --ext .ts",
   "**/*.scss": [
    "stylelint --fix",
    "git add",
    "stylelint --syntax scss"
  ]
}
